<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hrautomation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HRautomation"
        tools:targetApi="31">

        <service
            android:name=".presentation.notification.PushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_hr_splash" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary" />


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />


        <activity
            android:name=".presentation.view.loading.LoadingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.hrautomation.presentation.view.loading.login.LoginActivity" />

        <activity
            android:name=".presentation.view.activity.MainActivity"
            android:exported="true">
        </activity>

        <activity android:name="com.example.hrautomation.presentation.view.colleagues.employee.EmployeeActivity" />

        <activity android:name=".presentation.view.faq.question.QuestionActivity" />

        <activity android:name=".presentation.view.profile.ProfileActivity" />

        <activity
            android:name=".presentation.view.restaurants.restaurant_details.RestaurantDetailsActivity"
            android:theme="@style/NoActionBarTheme" />

        <activity android:name=".presentation.view.restaurants.restaurant_details.RestaurantReviewActivity" />

        <activity android:name=".presentation.view.social.filter.EventFilterActivity" />

        <activity
            android:name=".presentation.view.social.details.EventDetailsActivity"
            android:theme="@style/NoActionBarTheme" />

        <activity android:name=".presentation.view.social.details.map.EventMapActivity" />
    </application>

</manifest>